<h1>My App with Directives</h1>
<hr />
<app-ng-if></app-ng-if>
<hr />
<app-ng-for></app-ng-for>
<hr />
<app-ng-switch></app-ng-switch>
<hr />
<app-ng-class></app-ng-class>
<hr />
<app-ng-style></app-ng-style>
<hr />
<app-ng-model></app-ng-model>
<hr />
<app-ng-template></app-ng-template>
<hr />
<app-ng-content>
  <p>I'm actually from <em>Card Component HTML</em></p>
  <p>
    You can see me because I'm using the tag <em>ng-content</em> inside
    <em>app-ng-content</em> to render those paragraphs from there.
  </p>
  <p>
    If you feel that's boring, it's because you're using this website to play
    and not seeing it's code.
  </p>
  <p>
    If you check my component, you'll only see the title and not a single
    paragraph.
  </p>
  <p>Thanks for coming!</p>
</app-ng-content>
